@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

/* 國際編碼一定要在第一行，字體一定要在第二行，前面不可以加任何註解或內容 */

body{
    font-family: Helvetica, Arial,"黑體-繁","Heiti TC","微軟正黑體","Microsoft JhengHei",sans-serif;
    background-color: #0C1D44;
    height: 100%;
    /* height: 100vh; */
}
img{
    display: block;
    width: 100%;
}
.wrapper{
    position: relative;
    min-height: 100%;
}
/* ----------header的部分---------- */

header .logo{
    width: 20%;
    display: flex;
    left: auto;
    right: auto;
    margin: 30px auto;
    /* position: relative; */
}
header h2{
    display: flex;
    justify-content: center;
    color: #C1DFE8;
    /* position: absolute; */
    /* top: 5vh; */
}
/* main{
    position: relative;
    display: inline;
    height: 80vh;
} */
.box_test{
    top: 5vh;
    bottom: 5vh;    
    left: auto;
    right: auto;
    margin: auto;
    overflow: auto;
    /* position: relative; */
    /* background: #C1DFE8; */
}
.question_1, .question_2, .question_3{
    display: flex;
    z-index: 99999;
    font-size: 20px;
    justify-content: center;
    color: #C1DFE8;
}
.answer_1, .answer_2, .answer_3{
    display: flex;
    justify-content: center;
    color: #C1DFE8;  
}
.btn_score button{
    width: 40px;
    height: 40px;
    margin: 0 10px;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: #0C1D44;
    border: #C1DFE8 2px solid;
    color: #C1DFE8;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    /* font-size: 16px; */
}
.end{
    position: relative;
    display: flex;
}
.btn_next{
    /* position: relative; */
    /* top: 5vh; */
    
    align-items: center;
    border-radius: 25px;
    background: #C1DFE8;
    padding: 6px 0;
    width: 30%;
    margin: 65px auto;
    cursor: pointer;
}
.btn_next a{
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 4vmin;
    font-weight: 500;
    color: #0C1D44;
    cursor: pointer;
    /* letter-spacing: .1rem; 字距 */
    /* font-size: 1rem; */
}
footer{
    position: absolute;
    bottom: 0;
    /* display: flex; */
    /* left: auto; */
    /* right: auto; */
    /* position: relative; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: #C1DFE8; */
}
.copyright{
    display: flex;
    color: #C1DFE8;
    font-size: 0.5rem;
    /* margin: 0 auto; */
    /* justify-content: center; */
    /* align-items: center; */
    /* position: relative; */
}