@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
/* @font-face{
    font-family: ;
    src: url();
} */
body{
    background-color: #0C1D44;
    /* height: 100vh; */
}
img{
    display: block;
    width: 100%;
}
/* ----------header的部分---------- */
header{
    /* position: absolute; */
    /* display: flex; */
    width: 100%;
    
    
}
header .logo{
    position: relative;
    top: 30px;
    left: auto;
    right: auto;
    width: 60%;
    margin: auto;
    
    /* 怎麼讓它的位置置中? */
    /* 找筆記本 */


}
header .title{
    margin-top: 50px;
    margin-bottom: 40px;
    /* font-size: 2rem; */
    font-size: 10vmin;
    font-weight: 500;
    color: #C1DFE8;
    align-items: center;
    text-align: center;
    
}
header .starto{
    align-items: center;
    border-radius: 25px;
    background: #C1DFE8;
    padding: 10px 20px;
    width: 30%;
    margin: auto;
    cursor: pointer;
}
.starto a{
    text-align: center;
    text-decoration: none;
    display: block;
    /* font-size: 1rem; */
    font-size: 5vmin;
    font-weight: 500;
    /* letter-spacing: .1rem; 字距 */
    color: #0C1D44;
    cursor: pointer;
}
.box_monster{
    /* position: relative; */
    bottom: 5px;
    right: auto;
    margin: auto;
    width: 90%;
}