@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

/* 國際編碼一定要在第一行，字體一定要在第二行，前面不可以加任何註解或內容 */

body{
    font-family: Helvetica, Arial,"黑體-繁","Heiti TC","微軟正黑體","Microsoft JhengHei",sans-serif;
    background-color: #0C1D44;
    height: 100%;
    /* 以下四個禁止複製的動作 */
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* height: 100vh; */
}
img{
    display: block;
    width: 100%;
}
.wrapper{
    position: relative;
    min-height: 100%;
}
/* ----------header---------- */

header .logo{
    width: 20%;
    display: flex;
    left: auto;
    right: auto;
    margin: 30px auto;
    /* position: relative; */
}
header h2{
    display: flex;
    justify-content: center;
    color: #C1DFE8;
    /* position: absolute; */
    /* top: 5vh; */
}
header p{
    display: flex;
    justify-content: center;
    color: #c1dfe880;
}
/* ----------main---------- */
/* main{
    position: relative;
    display: inline;
    height: 80vh;
} */
.box_test{
    top: 5vh;
    bottom: 5vh;    
    left: auto;
    right: auto;
    margin: auto;
    overflow: auto;
    /* position: relative; */
    /* background: #C1DFE8; */
}
.question_1, .question_2, .question_3, .question_4, .question_5, .question_6, .question_7, .question_8, .question_9, .question_10, .question_11, .question_12, .question_13, .question_14, .question_15, .question_16, .question_17, .question_18, .question_19, .question_20, .question_21, .question_22, .question_23, .question_24, .question_25, .question_26, .question_27{
    display: flex;
    text-align: center;
    z-index: 99999;
    font-size: 20px;
    justify-content: center;
    color: #C1DFE8;
}
.answer_1, .answer_2, .answer_3, .answer_4, .answer_5, .answer_6, .answer_7, .answer_8, .answer_9, .answer_10, .answer_11, .answer_12, .answer_13, .answer_14, .answer_15, .answer_16, .answer_17, .answer_18, .answer_19, .answer_20, .answer_21, .answer_22, .answer_23, .answer_24, .answer_25, .answer_26, .answer_27{
    display: flex;
    justify-content: center;
    color: #C1DFE8;  
}
.btn_score button{
    width: 40px;
    height: 40px;
    margin: 0 10px;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: #0C1D44;
    border: #C1DFE8 2px solid;
    color: #C1DFE8;
    cursor: pointer;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    transition: all .1s ease-in-out;
    /* display: inline-block; */
    /* font-size: 16px; */
}
.btn_score button:hover{
    background-color: #4CAF50;
    color: white;
}
.end{
    position: relative;
    display: flex;
}
.btn_next{
    /* position: relative; */
    /* top: 5vh; */
    
    align-items: center;
    border-radius: 25px;
    background: #C1DFE8;
    padding: 6px 0;
    width: 20%;
    margin: 65px auto;
    cursor: pointer;
}

.btn_next a{
    text-align: center;
    text-decoration: none;
    display: block;
    /* transition: 0.5s; */
    font-size: 4vmin;
    font-weight: 500;
    color: #0C1D44;
    cursor: pointer;
    /* letter-spacing: .1rem; 字距 */
    /* font-size: 1rem; */
}
/* .btn_next a:after{
    content: '»';
    position: relative;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
.btn_next a:hover a {
    padding-right: 25px;
  }
  
.btn_next:hover a:after {
    opacity: 1;
    right: 0;
  } */
  /* @charset "UTF-8";
  html,
  body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Nunito", sans-serif;
    color: #000;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
   */

/* ----------footer---------- */
footer{
    position: absolute;
    bottom: 0;
    /* display: flex; */
    /* left: auto; */
    /* right: auto; */
    /* position: relative; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: #C1DFE8; */
}
.copyright{
    display: flex;
    color: #C1DFE8;
    font-size: 0.5rem;
    /* margin: 0 auto; */
    /* justify-content: center; */
    /* align-items: center; */
    /* position: relative; */
}